.modal-content{
    background-color: inherit;
}


#container-post{
    height: 90%;
    overflow: scroll;
}

#container-post::-webkit-scrollbar{
    display: none;
}

.post{
    margin: auto;
    background-color: #404142;
    width: 500px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}


.post-box{
    width: 100%;
    margin: auto;
}

.post-header{
    height: 80px;
    border-bottom: 1px solid black;
    position:relative;
    display: flex;
    align-items: center;
}
.profile-img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.post-header > div:nth-child(1){
    height: 50px;
    border-radius: 50px;
    flex-basis: 50px;
    align-items: flex-start;
    margin-left: 2%;
}
.post-header span > div:nth-child(1){
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 1px solid black;
    overflow:hidden;
    align-items: flex-start;
    
}

.post-header > span{
    color: #ffffff;
}

.post-header > span{
    margin-left: 15px;
    white-space: nowrap;

}

.post-header > span > span{
    opacity: 0.5; margin-left: 10px;
    font-size: 11px;
}

.header-dropdown{
    height: 100%;
    
    margin-left: auto;
    position: relative;
    flex-basis: 30px;
}

.header-dropdown > img{
    width:32px; 
    height: 38px;
    position: absolute;
    right: -2px;
    top: 18px;
}

.review-title{
    border-bottom: 1px solid black;
    color:  white;
    padding-left: 17px;
    flex-basis: 50px;
    line-height: 18px;
    padding-block: 13px;
}
.review-title > span{
    opacity: 0.5;
    font-size: 13px;
}



.post-content{
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
 }

.post-footer{
    padding-left: 10px;
    padding-top: 10px;
    display: flex;
}
.post-footer span{
    color: white; 
    font-weight: bold;
}
.textarea-box{
    width: 100%;
    background-color: inherit;
    padding-left: 17px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 24px;
}
.textarea-box:hover{
    background-color: #38383a;
}
.textarea-box > textarea{
    margin-top: 10px;
    margin-left: 18px;
    padding: 0;
    border: none;
    outline: none;
    resize: none;
    color: white;
    background-color: inherit;
}

.post-rating{
    display: flex;
    padding-left: 15px;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.post-rating > span{
    color: white;
}
.container-img{
    border-top:1px solid black;
}
.container-img > img{
    width: 100%;
    max-height: 600px;
}

.container-like{
    width: 7%;
    text-align: center;
}

.container-reply{
    width: 7%;
    text-align: center;
    margin-left: 15px;
}


/* 조회 페이지 별 */
.rating-star{
    position: relative;
    width: 10px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    overflow : hidden;
    margin-left: 0;
    margin-right: 0;
        }
.rating-star::before{
    position: absolute;
    left: 1px;
}
.rating-star:nth-child(2n)::before{
    right: 1px;
    left: initial;
}

/* html::-webkit-scrollbar{
    display: none;
} */
.reply{
    width: 100%;
    max-height: 270px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding-bottom: 30px;
}
.reply::-webkit-scrollbar{
    display: none;
}



.parent-reply{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 3%;

}

.child-reply{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    padding-left: 7%;

}

.profile-reply{
    width: 40px;
    height: 40px;
    padding-left: 4px;
    line-height: 50px;
    margin-top: 5px;
}

.profile-reply > img{
   width: 40px;
   height: 40px;
   border-radius: 50px;
   border: 1px solid black;
}

.user-reply{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 1px;
    justify-content: flex-start;
}

.user-reply > div:nth-child(1){
    flex-basis: 1px;
    margin-left: 6%;
    white-space: nowrap;
}

.user-reply > div:nth-child(1) > span{
    float: left;
    margin-top: 1%;
}
.user-reply > div:nth-child(1) > span:nth-child(2){
    /* line-height: 28px; */
    font-size: 12px;
    opacity: 0.5;
    margin-top: 8px;
    white-space : nowrap;
    margin-left: 2%;
}
.user-reply > div:nth-child(1) img{
    width: 27px;
    height: 25px;
    float: right;
}

.user-reply > div:nth-child(2){
    display: flex;
    flex-direction: column;
}
.user-reply > div:nth-child(2) > div{
    padding-left: 7%;

}
.user-reply > div:nth-child(2) > div:nth-last-child(2){
    padding-left: 7%;
    padding-block: 3%;
    word-break: break-all;
    padding-right: 7%;
    line-height: 135%;
}
.user-reply > div:nth-child(2) > div:nth-last-child(1){
    padding-left: 7%;
    display: flex;
    flex-direction: row;
}

.content-reply{
    width: 73%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-right: 7%;
    word-break: break-all;
}
.content-reply > div:nth-child(1){
    flex-grow: 1;
}

.content-reply > div:nth-child(1) img{
    width: 27px;
    height: 31px;
    right: 0;
    top: -4px;
    position: absolute;
}
.content-reply > div:nth-child(2){
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin-top: 12px;
}
.text-reply img{
    /* width: 27px;
    height: 31px;
    right: 0;
    top: -4px;
    position: absolute; */
}
.line-reply{
    margin-top: 13px;
    opacity: 0.7;
    font-size: 13px;
    padding-left: 90px ;
  
}

.input-content-reply{
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 9px;
}

.input-content-reply > div:nth-child(1){
    padding-left: 15px;
    line-height: 24px;
}   

.input-content-reply > div:nth-child(3){
    flex-basis: 28px; 
    margin-left: auto;
}   

.input-content-reply textarea{
    outline: none;
    border: none;
    color: white;
    margin-left: 16px;
    width: 390px;
    background-color: inherit;
    resize: none;
}
.input-content-reply textarea::-webkit-scrollbar{
    width: 0px;
}

.input-content-reply img{
    width: 24px;
    height: 24px;
}

.top-button{
    position: fixed;
    bottom: 10%;
    right: 10%;
    width: 1.5%;
    height: 2.5%;
}