
/* 사이드바 */
.side-menu {
    border: none;
    max-width: 350px;
    min-width: 150px;
    max-height: 600px;
    min-height: 400px;
    /* background-color: #404142; */
    background-color: inherit;
    font-weight: 100;
    margin-left: 4%;
}

.side-menu ul {
    width: 100%;
    height: 100%;
    line-height: 60px;
    /* margin-top: 5%; */

}

.side-menu ul li {
    width: 100%;
    height: 20%;


}

.side-menu ul li>a {
    width: 100%;
    height: 100%;

}

.side-menu ul li:hover {
    background-color: #C4C4C4;
    color: black;
}

.side-menu ul li>a>div {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;

}

.side-menu ul li>a>div>div {
    font-size: 70%;
    line-height: 40px;
}

.postImgwrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.postImgwrap>img {
    width: 80%;
    height: 80%;
    padding: 5px;
}

.mvtext {
    color: white;
    height: 100%;
    width: 52%;
    overflow: hidden;
}

.side_mvTitle {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    width: 100%;
    height: 50%;
    font-size: 15px;
    border: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 700;
}

.mvDt {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    width: 100%;
    height: 20%;
    border: none;
    color: #F2F2F2;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mvstar-rv {
    width: 39%;
}

.star {
    width: 70%;
    height: 35%;
    border: none;
    text-align: center;
    line-height: 70px;
    font-size: 5%;
    color: yellow;
    display: flex;
    flex-direction: row-reverse;
    padding-left: 13px;
}

.mvrv {
    padding-left: 11px;
    font-size: 13px;
}

/* 이승윤 */
/* 조회 페이지 별 */
.side-star{
    position: relative;
    width: 10px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    overflow : hidden;
    margin-left: 0;
    margin-right: 0;
        }
.side-star::before{
    position: absolute;
    left: -8px;
}
.side-star:nth-child(2n)::before{
    right: -4px;
    left: initial;
}