<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">


	<resultMap type="com.movie.sns.member.model.vo.Member"
		id="member_rm">

		<id property="memberNo" column="MEMBER_NO" />

		<result property="memberName" column="MEMBER_NM" />
		<result property="memberNickName" column="MEMBER_NICKNM" />
		<result property="memberPw" column="MEMBER_PW" />
		<result property="memberEmail" column="MEMBER_EMAIL" />
		<result property="memberBirth" column="MEMBER_BIRTH" />
		<result property="enrollDate" column="ENROLL_DT" />
		<result property="modifyDate" column="MODIFY_DT" />
		<result property="memberStatusCode" column="STATUS_CD" />
		<result property="memberGradeCode" column="GRADE_CD" />

	</resultMap>



	<select id="login"  resultMap="member_rm">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_EMAIL = #{memberEmail}
		AND MEMBER_PW = #{memberPw}
		AND GRADE_CD = 101
	</select>
	
	
	
 	
</mapper>
