<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alramMapper">

	<resultMap type="com.movie.sns.alram.model.vo.Alram"
		id="alram_rm">

		<id property="alramNo" column="SEQ_ALRAM_NO" />

		<result property="alramTakeMemberNo" column="ALRAM_NO" />
		<result property="alramContent" column="ALRAM_CONTENT" />
		<result property="alramUrl" column="ALRAM_URL" />
		<result property="alramStatus" column="ALRAM_STATUS" />
		
		<collection property="profileImage" column="MEMBER_NO"

			select="selectMemberImg" />
	</resultMap>
	
		<resultMap type="com.movie.sns.member.model.vo.Image"
		id="Image_rm">
		<id property="imgNo" column="MEMBER_IMG_NO" />

		<result property="imgPath" column="MEMBER_IMG_PATH" />
		<result property="imgName" column="MEMBER_IMG_NM" />
		<result property="imgLevel" column="MEMBER_IMG_LEVEL" />
		<result property="imgOriginal" column="MEMBER_IMG_ORIGINAL" />
		<result property="memberNo" column="MEMBER_NO" />
	</resultMap>
	
	<!-- 회원 이미지 조회 --> 
	<select id="selectMemberImg" resultMap="Image_rm">
		SELECT MEMBER_IMG_PATH,
		MEMBER_IMG_NM FROM MEMBER_IMG
		WHERE MEMBER_NO = #{memberNo}
	</select>






	<insert id="insertAlram">
	
	INSERT INTO ALRAM VALUES(SEQ_ALERT_NO.NEXTVAL,
		#{alramTakeMemberNo} , #{alramContent}, #{alramUrl}, 0)
	
	
	</insert>
	
	
	<select id="selectAlram" resultMap="alram_rm">
	
	SELECT SEQ_ALRAM_NO, ALRAM_CONTENT, ALRAM_URL, ALRAM_STATUS
	FROM ALRAM
	WHERE ALRAM_NO = #{memberNo}
	AND ALRAM_STATUS = 0
	ORDER BY SEQ_ALRAM_NO DESC
	</select>
	
	<update id="deleteAlram">
	UPDATE ALRAM SET ALRAM_STATUS = 1
	WHERE
	SEQ_ALRAM_NO = #{deleteAlramNo}
	
	
	
	</update>

</mapper>
