html {
	height: 100%;
}

body {
	min-height: 100%;
}

a:hover {
	color: white;
}

.mainContainer {
	width: 100%;
	margin: 0;
	padding: 0;
	padding-top: 54px;
}

.mainwrap {
	width: 100%;
	padding-top: 100px;
}

/* #container-post {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-width: 768px;
	height: 500px;
	overflow: scroll;
	padding-top: 34%;
	border: 1px dashed red;
} */
.searchnav {
	display: flex;
	position: fixed;
	width: 100%;
	height: 90px;
	top: 70px;
	left: 0;
	margin: auto;
	padding: 0;
	padding-bottom: 1px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	z-index: 400;
	min-width: 768px;
	background-color: #272727;
}

.searchnav>div {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	font-size: 15px;
	width: 10%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

#feed_>a {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#feed_>a:hover {
	color: red;
}

.searchnav>div:hover {
	color: red;
}

/* -------------------------------------------영화------------------------------------------ */
.user-post {
	padding: 10px;
	width: 34%;
	min-width: 600px;
	margin-bottom: 20px;
	border-radius: 5px;
	margin: auto;
}

.user-post:hover {
	transform: scale(1.1);
	transition-duration: 3s;
	cursor: pointer;
}

.user-post>a {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
/* .post-header {
	display: flex;
	width: 100%;
	height: 70px;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #090A0D;
} */

/* .post-header>div {
	display: flex;
	width: 100%;
	height: 100%;
} */
.userImg_ {
	display: flex;
	justify-content: right;
	align-items: center;
	width: 10%;
	height: 100%;
	padding-left: 15px;
}

.userImg_>img {
	width: 40px;
	height: 40px;
	border-radius: 49%;
}

.userName_ {
	display: flex;
	width: 50%;
	height: 100%;
	align-items: center;
	padding-left: 20px;
	word-wrap: none;
}

.headerbeen {
	width: 40%;
}

.create {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 30%;
	opacity: 0.5;
	margin-left: 10px;
}

.drop {
	width: 10%;
}

.header-dropdown {
	height: 100%;
	flex-grow: 1;
	padding-top: 4%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.header-dropdown>img {
	width: 30px;
	height: 40%;
	position: absolute;
	right: 0;
	cursor: pointer;
}

/* .dropdown-menu {
	transform: translate3d(-110px, 51px, 0px) !important;
} */
.mvTitle {
	display: flex;
	width: 100%;
	height: 50px;
	align-items: center;
}

.mvTitle_ {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	padding-right: 20px;
	padding-left: 20px;
	font-size: 16px;
	font-weight: 700;
	border-bottom: 1px solid #090A0D;
	white-space: nowrap;
	overflow: hidden;
}

.mvTitle_>span {
	opacity: 0.5;
	font-size: 13px;
}

/* .mvCreate {
	display: flex;
	width: 100%;
	height: 40%;
	padding-right: 20px;
	padding-left: 20px;
	font-weight: 300;
} */
.post-rating {
	display: flex;
	padding-left: 15px;
	align-items: center;
	padding-top: 8px;
	padding-bottom: 8px;
}

.mvContent {
	display: flex;
	width: 100%;
	height: 100px;
	justify-content: center;
	align-items: center;
}

.mvContent>div {
	width: 80%;
	height: 100%;
}

.mvContent_ {
	width: 100%;
	height: 50%;
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
}

.ContentStar {
	display: flex;
	align-items: flex-end;
	width: 100%;
	height: 50%;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
}

.ContentStar>i {
	color: yellow;
}

.mvImgwrap {
	display: flex;
	width: 100%;
	height: 400px;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #090A0D;
	padding-bottom: 5px;
}

.imgput {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.img_ {
	width: 80%;
	height: 100%;
}

.img_>img {
	width: 100%;
	height: 100%;
}

.reply-like {
	display: flex;
	width: 100%;
	height: 70px;
	justify-content: center;
	align-items: center;
}

.reply-like>div {
	display: flex;
	width: 80%;
	height: 70px;
}

.reply_ {
	width: 15%;
	height: 100%;
}

.like_ {
	width: 15%;
	height: 100%;
}

.none {
	width: 55%;
	height: 100%;
}

.what {
	width: 15%;
	height: 100%;
}

/* -------------------------------------------------사람---------------------------------------------- */
.searchboard-pr {
	display: flex;
	width: 630px;
	height: 150px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #3a3939;
	min-width: 400px;
	border-radius: 5px;
}

.searchboard-pr>div:nth-child(1) { /* 이미지부분 */
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20%;
	height: 100%;
}

.searchboard-pr>div:nth-child(2) { /* 소개부분 */
	display: flex;
	flex-direction: column;
	width: 70%;
	height: 100%;
}

.searchboard-pr>div:nth-child(2)>div:nth-child(1) {
	display: flex;
	width: 100%;
	height: 25%;
	align-items: center;
	padding: 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.searchboard-pr>div:nth-child(2)>div:nth-child(2) {
	display: flex;
	width: 100%;
	height: 25%;
	align-items: center;
	padding: 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.searchboard-pr>div:nth-child(2)>div:nth-child(3) {
	display: flex;
	width: 100%;
	height: 25%;
	align-items: center;
	padding: 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.searchboard-pr>div:nth-child(2)>div:nth-child(4) {
	display: flex;
	width: 100%;
	height: 25%;
	align-items: center;
	padding: 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.searchboard-pr>div:nth-child(3) { /*팔로우 요청*/
	display: flex;
	width: 20%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.searchboard-pr>div:nth-child(3)>button { /*버튼  */
	width: 100px;
	height: 40px;
	border: none;
	font-weight: 700;
	border: none;
	border-radius: 5px;
}

.searchboard-pr>div:nth-child(1)>a>img {
	width: 130px;
	height: 130px;
	padding: 10px;
	border-radius: 49%;
}
/* -------------------------------------------------사람 끝------------------------------------------  */

/* 검색 결과가 없을 때 */
#no-search-result {
	width: 20%;
	margin-top: 3%;
	margin-left: 41%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#no-search-result>img {
	width: 80%;
}

#no-search-result>span {
	font-size: 2.5em;
	margin-top: 10%;
	display: inline-block;
	white-space: nowrap;
}